$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText: #b3b3b3;
$greyNav: #090909;

@font-face {
font-family: aeroport-bold;
src: url(./fonts/Aeroport-bold.ttf);
}

@font-face {
  font-family: aeroport-light;
  src: url(./fonts/Aeroport-light.ttf);
  }

  .ozen-logo {
  width: 80px;
  height: 30px;
  }

#btn-connect {
  max-width: 120px;
  position: absolute;
  right: 14rem;
  top: 0.6rem;
  color: $greyText;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.coverImage {
  width: 70px;
  height: 70px;
  border-radius: 10%;
  margin: 15px;
  margin-bottom: 14px; 

}



.artist{
  margin-right: auto;
}


.player {
  height: 40px;
  width: 320px;
  margin-bottom: 15px; 
}

  
.uppercase {
  text-transform: uppercase;
}
 
.smallText {
  font-size: 0.75rem;
  letter-spacing: 0.8px;
  &.bold {
    font-weight: 600;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: aeroport-light;
}

.subText {
  font-size: 0.9rem;
  color: $greyText;
}

.App {
  height: calc(100vh - 90px);
  background: $greyLight;
  display: flex;
}

.navBar {
  width: 260px;
  height: 100%;
  background: $greyDark;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;
  .logo {
    padding: 1rem 0.8rem;
    svg {
      max-width: 130px;
      p {
        fill: white;
      } 
    }
  }
  ul {
    margin: 0;
    padding: 0;
    a {
      color: inherit;
      text-decoration: none;

      &:visited {
        color: inherit;
        text-decoration: none;
      }
    }
    li {
      color: $greyText;
      list-style-type: none;
      border-radius: 5px;
      padding: 0.5rem 0.8rem;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-family: aeroport-bold;
      display: flex;
      align-items: center;
      &:visited {
        color: inherit;
        text-decoration: none
      }

      svg {
        fill: currentColor;
        margin-right: 15px;
      }
      &.active {
        background: $greyLighter;
        color: white;
        svg {
          fill: white;
        }
      }
      &:hover {
        color: white;
      }
    }
  }
  .cookies {
    font-size: 0.6rem;
    color: $greyText;
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    span {
      display: block;
    }
  }
}

.outerWrap {
  background: grey;
  height: 100vh;
  min-height: 100%;
}

.musicControls {
  background: $greyLighter;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  position: relative;
  border-top: 1px solid $greyDark;
}

.upperNav {
  background: rgba(9, 9, 9, 0.78);
  font-family: aeroport-bold;
  height: 56px;
  width: 100%;
  font-size: 40px;
  display: flex;
  align-items: center;
  color: white;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  z-index: 2;
}

.main {
  width: 100%;
  overflow-y: scroll;
  position: relative;
  padding-top: 3.4rem;
  .mainContent {
    color: white;
    padding: 0.5rem 2rem;
    background-image: linear-gradient(to right, black , purple, black);
    h1, h2
   {
      font-size: 1.8rem;
    }
  }
}

.cardsWrap {
    padding-bottom: 0.8rem;
    h2 {
      margin-bottom: 0;
    }
    .cardsWrapInner {
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(auto-fill, minmax(220px, 220px));
  
      a {
        color: inherit;
        text-decoration: none;
      }
    }
    .subText {
      margin-top: 0.5rem;
      margin-bottom: 1.2rem;
    }
    .card {
      background: $greyLighter;
      border-radius: 10px;
      overflow: hidden;
      padding: 1.2rem;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      position: relative;
      max-width: 266.8;
      min-width: 266.8;
      &:hover {
        .playIcon {
          opacity: 1;
        }
      }
      .cardImage {
        height: 160px;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3),
          0 1px 2px 0 rgba(0, 0, 0, 0.2);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .cardContent {
        padding: 0.4rem 0;
        h3 {
          font-weight: 600;
          font-size: 0.9rem;
          margin-bottom: 0;
          letter-spacing: 0.6px;
        }
        span {
          font-size: 0.8rem;
          color: $greyText;
        }
      }
    }
  }

.playIcon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  fill: purple;
  margin-left: auto;
  opacity: 0;
  position: absolute;
  right: 1rem; 
  bottom: 3.8rem; 
  
  svg {
    margin: auto;
  }
}

button {
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: aeroport-bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #282828;
  color: white;
}

